<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleGetInfoString</key>
	<string>2.0.7 copyright 1999-2010, Tetsuro KURITA</string>
	<key>CFBundleHelpBookFolder</key>
	<string>FinderSelectionHelp</string>
	<key>CFBundleHelpBookName</key>
	<string>FinderSelection Help</string>
	<key>CFBundleIdentifier</key>
	<string>Scriptfactory.FinderSelection</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.7</string>
	<key>CFBundleVersion</key>
	<string>2.0.7</string>
	<key>NSHumanReadableCopyright</key>
	<string>copyright 1999-2010, Tetsuro KURITA</string>
	<key>WindowState</key>
	<dict>
		<key>name</key>
		<string>ScriptWindowState</string>
		<key>positionOfDivider</key>
		<real>520</real>
		<key>savedFrame</key>
		<string>178 145 798 722 0 0 1440 878 </string>
		<key>selectedTabView</key>
		<string>result</string>
	</dict>
</dict>
</plist>
