<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleGetInfoString</key>
	<string>2.0.8 copyright 1999-2014, Tetsuro KURITA</string>
	<key>CFBundleVersion</key>
	<string>2.0.8</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.8</string>
	<key>NSHumanReadableCopyright</key>
	<string>copyright 1999-2014, Tetsuro KURITA</string>
	<key>CFBundleHelpBookFolder</key>
	<string>FinderSelectionHelp</string>
	<key>CFBundleHelpBookName</key>
	<string>FinderSelection Help</string>
	<key>CFBundleIdentifier</key>
	<string>Scriptfactory.FinderSelection</string>
</dict>
</plist>
